/* 
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  

    .box {
      background: skyblue;
      width: 100%;
      aspect-ratio: 1;
      clip-path: polygon(99.86% 53.77%,61.82% 98.58%,7.45% 76.26%,11.88% 17.65%,68.99% 3.75%);
    } */

.container {
  display: grid;
  width: 50%;
  height: 600px;
  margin: auto;
  grid-template-rows: repeat(auto-fit,100px);
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  border: 5px solid;
}

.card {
  background: seagreen;
  border: 5px solid rgb(35, 102, 64);
}